.su-deskbook {
  width: 100%;
  height: 100dvh;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--su-bg-color-page);
  overflow: hidden;
}

.su-deskbook__view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  padding: 20px;
  box-sizing: border-box;
  grid-template-rows: repeat(auto-fill, 100px);
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px;
  z-index: 1;
}

.su-deskbook__status {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  z-index: 10000;
}

.su-deskbook__shortcut-container {
  cursor: pointer;
  transition: transform 0.2s ease;
}
.is-display {
  display: none;
}
.is-active {
  display: block;
}
.is-status-close {
  display: none;
}
