@font-face {
  font-family: 'iconfont'; /* Project id 4993764 */
  src: url('//at.alicdn.com/t/c/font_4993764_hlpvp38pjbc.woff2?t=1763810289143') format('woff2'),
    url('//at.alicdn.com/t/c/font_4993764_hlpvp38pjbc.woff?t=1763810289143') format('woff'),
    url('//at.alicdn.com/t/c/font_4993764_hlpvp38pjbc.ttf?t=1763810289143') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
  content: '\e7f3';
}

.icon-issue-draft:before {
  content: '\e816';
}

.icon-play:before {
  content: '\e833';
}

.icon-record:before {
  content: '\e838';
}

.icon-link:before {
  content: '\e824';
}

.icon-chevron-up:before {
  content: '\e7f2';
}

.icon-arrow-up:before {
  content: '\e7e4';
}

.icon-chevron-down:before {
  content: '\e7ee';
}

.icon-chevron-right:before {
  content: '\e7ef';
}

.icon-cloud:before {
  content: '\e7f0';
}

.icon-cloud-upload:before {
  content: '\e7f1';
}

.icon-folder:before {
  content: '\e808';
}

.icon-folder-opened:before {
  content: '\e809';
}

.icon-link-external:before {
  content: '\e823';
}

.icon-save:before {
  content: '\e843';
}

.icon-ios-open:before {
  content: '\e8ca';
}

.icon-a-loading:before {
  content: '\e98d';
}

.icon-ios-cash:before {
  content: '\e89e';
}

.icon-gitee:before {
  content: '\e614';
}

.icon-ios-cloud-upload:before {
  content: '\e8a4';
}

.icon-ios-radio-button-off:before {
  content: '\e8d5';
}

.icon-ios-cloud-outline:before {
  content: '\e8a3';
}

.icon-ios-desktop:before {
  content: '\e8a9';
}

.icon-ios-folder:before {
  content: '\e8b1';
}

.icon-ios-radio-button-on:before {
  content: '\e8d4';
}

.icon-ios-swap:before {
  content: '\e8df';
}

.icon-a-close:before {
  content: '\e98c';
}

.icon-a-document-checked:before {
  content: '\e99f';
}

.icon-a-copy-document:before {
  content: '\e998';
}

.icon-a-warning-filled:before {
  content: '\e995';
}

.icon-a-fork-spoon:before {
  content: '\e9a8';
}

.icon-a-avatar:before {
  content: '\e989';
}

.icon-a-share:before {
  content: '\e991';
}

.icon-a-upload-filled:before {
  content: '\e994';
}

.icon-a-edit-pen:before {
  content: '\e98b';
}

.icon-a-delete-filled:before {
  content: '\e98a';
}

.icon-a-folder-opened:before {
  content: '\e99d';
}

.icon-a-folder:before {
  content: '\e99e';
}

.icon-a-document:before {
  content: '\e99c';
}

.icon-a-search:before {
  content: '\e98f';
}

.icon-a-s-tools:before {
  content: '\e990';
}

.icon-a-arrow-down-bold:before {
  content: '\e992';
}

.icon-a-arrow-right-bold:before {
  content: '\e993';
}

.icon-a-document-add:before {
  content: '\e999';
}

.icon-a-document-copy:before {
  content: '\e99a';
}

.icon-a-folder-add:before {
  content: '\e99b';
}

.icon-zengjia:before {
  content: '\e889';
}

.icon-jianshao:before {
  content: '\e626';
}

.icon-tongfengfengshan:before {
  content: '\e760';
}

.icon-daohangdizhi:before {
  content: '\e65e';
}

.icon-duomeiti:before {
  content: '\e6fd';
}

.icon-cheliangshezhi:before {
  content: '\e6e0';
}

.icon-tongxun:before {
  content: '\e80f';
}

.icon-fengshanmoshi:before {
  content: '\e65a';
}

.icon-chuwu:before {
  content: '\e600';
}

.icon-left-arrow:before {
  content: '\e83d';
}

.icon-info:before {
  content: '\e83e';
}

.icon-return:before {
  content: '\e840';
}

.icon-home:before {
  content: '\e858';
}

.icon-square:before {
  content: '\e869';
}
