.su-overplay-container {
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s ease-in-out forwards;
}
.su-overplay {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.is-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -ms-filter: blur(5px);
  -o-filter: blur(5px);
  will-change: filter;
  transform: translateZ(0);
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
