.su-dev-center {
  display: flex;
  width: 100%;
  height: 100%;
}
.su-dev-center__view-editor,
.su-dev-center__logic-editor {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid var(--su-border-color);
}
.su-dev-center__logic-editor {
  border-right: none;
  max-width: 40%;
}
.su-dev-center__editor-tabs {
  height: 35px;
  background: var(--su-fill-color-light);
  display: flex;
  align-items: flex-end;
  border-bottom: 1px solid var(--su-border-color);
}
.su-dev-center__editor-tab-active {
  height: 35px;
  background: var(--su-bg-color);
  padding: 0 16px;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: var(--su-text-color-primary);
  border-right: 1px solid var(--su-border-color);
}
.su-dev-center__file-badge {
  margin-left: 8px;
  font-size: 10px;
  background: var(--su-fill-color-dark);
  padding: 2px 6px;
  border-radius: 10px;
  color: var(--su-text-color-regular);
}
.su-dev-center__editor-frame {
  flex: 1;
  overflow: hidden;
  background: var(--su-bg-color);
}
